################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/API
/.vscode
/API/obj
/API/bin/Debug/net5.0
/Core/obj
/Core/bin/Debug/net5.0
/Infrastructure/obj
/Infrastructure/bin/Debug/net5.0
API/identity.db
API/ecommerce.db
