<div class="container mt-2">
    <div *ngIf="(carrito$ | async) === null">
        <p>El carrito no tiene productos</p>
    </div>
    
    <div *ngIf="carrito$ | async">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 mb-1">
                        <app-carrito-summary
                            (decrement)="decrementarCantidadItemCarrito($event)"
                            (increment)="incrementarCantidadItemCarrito($event)"
                            (remove)="removerItemDelCarrito($event)"
                        ></app-carrito-summary>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 offset-6">
                        <app-orden-totales></app-orden-totales>
                        <a routerLink="/pago" class="btn btn-outline-primary btn-block py-2">
                            Procesar pedido
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
