<div class="container mt-3">
    <div class="row">
        <section class="col-3">
            <ng-container *ngIf="tipos && marcas">

            
            <h5 class="text-warning ml-3 mt-3 mb-3">Sort</h5>
            <select class="form-control mb-3" (change)="onSortSelected($event.target)">
                <option *ngFor="let sort of sortOptions" [value]="sort.value">{{sort.name}}</option>
            </select>
            <h5 class="text-warning ml-3">Marcas</h5>
            <ul class="list-group my-3">
                <li class="list-group-item" [class.active]="marca.id === shopParams.marcaId"
                    *ngFor="let marca of marcas" [value]="marca.id" (click)="onMarcaSelected(marca.id)">
                    {{marca.name}}
                </li>
            </ul>
            <h5 class="text-warning ml-3">Tipos</h5>
            <ul class="list-group my-3">
                <li class="list-group-item" [class.active]="tipo.id === shopParams.tipoId" *ngFor="let tipo of tipos"
                    [value]="tipo.id" (click)="onTipoSelected(tipo.id)">
                    {{tipo.name}}
                </li>
            </ul>
        </ng-container>
        </section>

        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                
                <app-paging-header 
                    [totalCount]="totalCount"
                    [pageSize]="shopParams.pageSize"
                    [pageNumber]="shopParams.pageNumber">
                </app-paging-header>

                <div class="form-inline" *ngIf="products" >
                    <input (keyup.enter)="onSearch()" class="form-control mr-2" #search placeholder="Buscar..." type="text">
                    <button class="btn btn-outline-primary my-2" (click)="onSearch()">Buscar</button>
                    <button class="btn btn-outline-success my-2 ml-2" (click)="onReset()">Reset</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4" *ngFor="let item of products">
                    <app-product [product]="item"></app-product>
                </div>
            </div>
            <div *ngIf="totalCount && totalCount > 0" class="d-flex justify-content-center mt-2">
                <app-pager
                    [pageSize]="shopParams.pageSize"
                    [pageNumber]="shopParams.pageNumber"
                    [totalCount]="totalCount"
                    (pageChanged)="onPageChanged($event)">
                </app-pager>
            </div>


        </section>
    </div>
</div>